*.DS_Store
*pycache
psr
*.pyc
*.local
*.pytest*
*.vscode
agarwal_model.h5
*.ipynb_checkpoints
*report*
dominic-connor-FRB.py
breakthrough
*.h5
simulateFRBclassification/.ipynb_checkpoints/BL_notebook-checkpoint.ipynb
*.np*
debugging plots/
waterfaller_functions
waterfaller_functions
waterfaller_functions